apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: kafka-storage
  persistentVolumeReclaimPolicy: Retain
  awsElasticBlockStore:
    volumeID: <YOUR_EBS_VOLUME_ID>
    fsType: ext4
