apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
spec:
  serviceName: kafka
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: confluentinc/cp-kafka:7.5.0
        ports:
        - containerPort: 9092
        env:
        - name: KAFKA_BROKER_ID
          value: "0"

        - name: KAFKA_ZOOKEEPER_CONNECT
          value: zookeeper:2181

        - name: KAFKA_ADVERTISED_LISTENERS
          value: PLAINTEXT://kafka:9092

        - name: KAFKA_LISTENERS
          value: PLAINTEXT://0.0.0.0:9092

        - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
          value: "1"

        volumeMounts:
        - name: kafka-data
          mountPath: /var/lib/kafka/data

  volumeClaimTemplates:
  - metadata:
      name: kafka-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: kafka-storage
      resources:
        requests:
          storage: 10Gi
